
<div class="loading">
    <div class="loading-content">
        <label><i class="fa icon-arrows-cw fa-spin"></i></label>
        @Html.Label("lblloading", "Processing ...", new {
           @class = "lbl-loading"
       })
    </div>
</div>