@model FTPClient.Models.ChangeResourceNameModel

<div class="modal fade" id="modal_change_resource_name" tabindex="-1" role="dialog" aria-labelledby="add-site-label" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm(null, null, FormMethod.Post, new {
                id = "form_change_resource_name"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="icon-tags"></i> 名前変更</h4>
                </div>
                <div class="modal-body">
                    <p class="current-file-info">Current File Name</p>
                    @Html.TextBoxFor(m => m.NewName, new {
                   @style = "width:250px;"
               })
                    <div>
                        @Html.ValidationMessageFor(m => m.NewName)
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="Connect" id="btn_change_resource_name_submit" class="btn btn-default btn-popupmenu"><i class="icon-ok-5"></i> OK</button>
                    <button type="button" name="Connect" class="btn btn-default btn-popupmenu btn-etc" data-dismiss="modal"><i class="icon-cancel-6"></i> Cancel</button>
                </div>
            }
        </div>
    </div>
</div>